@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --lightGreen: #37C467;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Gilroy';
  src: url('/assets/gilroy/Gilroy-Light.ttf') format('truetype'); 
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/assets/gilroy/Gilroy-Regular.ttf') format('truetype'); 
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/assets/gilroy/Gilroy-Bold.ttf') format('truetype'); 
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/assets/gilroy/Gilroy-Black.ttf') format('truetype'); 
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/assets/gilroy/Gilroy-ExtraBold.ttf') format('truetype'); 
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/assets/gilroy/Gilroy-Medium.ttf') format('truetype'); 
  font-weight: 450;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/assets/gilroy/Gilroy-SemiBold.ttf') format('truetype'); 
  font-weight: 520;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Gilroy', sans-serif;
}